
@for (player of gameData.players; track player; let i = $index) {
    <app-player 
        [ngStyle]="{'top.px': 30 + (80 * i)}" 
        [name]="player"
        [playerActiv]="i == gameData.currentPlayer" 
        class="player-position">
    </app-player>
}
<div class="playground">
    <div class="card-stack">
        @for (c of gameData.stack; track c; let i = $index) {
            <img [ngStyle]="{'bottom.px': i * 1.5}" src="../../assets/img/playing_cards-master/card_cover.png">
        }
        <img (click)="takeCard()" class="top-card" [ngStyle]="{'bottom.px': currentCardPosition}" src="../../assets/img/playing_cards-master/card_cover.png">
        <img *ngIf="pickCardAnimation" class="pick-card" [ngStyle]="{'bottom.px': 80}" src="../../assets/img/playing_cards-master/{{ currentCard }}.png">
        @for (card of gameData.playedCards; track card; let i = $index) {
            <img class="played-card" [ngStyle]="{'bottom.px': i * 1.5}" src="../../assets/img/playing_cards-master/{{ card }}.png">
        }
        <img *ngIf="removeCard" class="remove-card" [ngStyle]="{'bottom.px': 181, 'right.px': 100, 'rotate.deg': -10}" src="../../assets/img/playing_cards-master/{{ currentCard }}.png">
    </div>
</div>

<app-game-info [card]="currentCard" class="pin-box"></app-game-info>

<button mat-fab (click)="openDialog()" class="btn-add">
    <mat-icon>add</mat-icon>
</button>  
